<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>N27D</key>
		<dict>
			<key>Attributes</key>
			<array>
				<string>ALTOMOBILE_VER</string>
				<string>serialnumber</string>
				<string>BX_1INIT_FW_VERSION</string>
				<string>BX_2PRE_FW_VERSION</string>
				<string>BX_3POST_FW_VERSION</string>
				<string>ALTV</string>
				<string>BACK CRYSTAL</string>
				<string>BATTERY_SN</string>
				<string>BGMt</string>
				<string>BOARD_ID</string>
				<string>QT4_PUCK</string>
				<string>BOARD_REV</string>
				<string>BT_MAC_ADDR</string>
				<string>BURNIN_RACK_LOCATION</string>
				<string>CFG#</string>
				<string>CGMt</string>
				<string>CG_TYPE</string>
				<string>CHARGER</string>
				<string>CHIPID</string>
				<string>CHIPVER</string>
				<string>CITRINE_CHIP_ID</string>
				<string>CITRINE_REV_ID</string>
				<string>CLBG</string>
				<string>CLCG</string>
				<string>CLHS</string>
				<string>COLLAR</string>
				<string>CLHS</string>
				<string>COLLAR</string>
				<string>DIAGS_BUILD_TIMESTAMP</string>
				<string>DIAGS_VERSION</string>
				<string>DISPLAY</string>
				<string>DISPLAY FLEX</string>
				<string>ECID</string>
				<string>EOUSB_MAC_ADDR</string>
				<string>EnMt</string>
				<string>FARGO</string>
				<string>GAIA_FWK_VER</string>
				<string>GRAPE</string>
				<string>GRPTEST_NONUI_FWK_VER</string>
				<string>INIT_GG_CHEM_ID</string>
				<string>INIT_GG_MODEL</string>
				<string>INIT_GG_TYPE</string>
				<string>LCM_DRIVER_ID</string>
				<string>LCM_PANEL_ID</string>
				<string>LCM_SN</string>
				<string>LCM_VENDOR_NAME</string>
				<string>LsBT</string>
				<string>MDLC</string>
				<string>MLBSN</string>
				<string>MOPED</string>
				<string>MPN</string>
				<string>MTFWVER</string>
				<string>NONUI_BDL_VER</string>
				<string>OS_BUILD_VERSION_FATP</string>
				<string>OS_BUILD_VERSION_SS</string>
				<string>PMU_ID0_MASKREV</string>
				<string>PMU_ID1_TRIMREV</string>
				<string>PMU_ID2_PLATFORMID</string>
				<string>PRODUCTION_SOC</string>
				<string>REGION_CODE</string>
				<string>REGULATORY_NUM</string>
				<string>RX COIL ASSY</string>
				<string>SEID</string>
				<string>SENSOR FLEX</string>
				<string>SENSOR_PART_ACCEL</string>
				<string>SENSOR_PART_GYRO</string>
				<string>SILICON_ID</string>
				<string>SOC_PROP_FUSE_REV</string>
				<string>SOC_PROP_PRODUCTION_NAME</string>
				<string>SOC_PROP_REVISION</string>
				<string>SWBH</string>
				<string>SYSTEMCONFIGURATION</string>
				<string>UDID</string>
				<string>UNIT_SN</string>
				<string>WIFI FEED FLEX</string>
				<string>WIFI_MAC_ADDR</string>
				<string>WirelessChargerMCUFirwareVersion</string>
				<string>WirelessChargerMCUSerialNumber</string>
				<string>packout_control</string>
			</array>
			<key>BoardID</key>
			<dict>
				<key>3g</key>
				<dict>
					<key>0x02</key>
					<string>N27D</string>
				</dict>
				<key>wifi</key>
				<dict>
					<key>0x00</key>
					<string>N27D</string>
				</dict>
			</dict>
			<key>ControlBits</key>
			<dict>
				<key>0x00</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>DFU-NAND-INIT</string>
				</dict>
				<key>0x01</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>FCT</string>
				</dict>
				<key>0x02</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SOC-TEST</string>
				</dict>
				<key>0x0B</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>GATEKEEPER-PREBURN</string>
				</dict>
				<key>0x12</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SMT-BONFIRE</string>
				</dict>
				<key>0x13</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SMT-BURNIN</string>
				</dict>
				<key>0x14</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SMT-LOG-COLLECTION</string>
				</dict>
				<key>0x15</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>WIFI-BT-COND</string>
				</dict>
				<key>0x1A</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>WIFI-COND</string>
				</dict>
				<key>0x1B</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>PREFCT</string>
				</dict>
				<key>0x1C</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>PREFCT2</string>
				</dict>
				<key>0x20</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>S-COND</string>
				</dict>
				<key>0x2D</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>COMBINE-FCT</string>
				</dict>
				<key>0x2E</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SMT-QT0</string>
				</dict>
				<key>0x68</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SA-QT0</string>
				</dict>
				<key>0x69</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT0</string>
				</dict>
				<key>0x6A</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SA-FACT</string>
				</dict>
				<key>0x6B</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT-COIL</string>
				</dict>
				<key>0x6C</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT-BCM</string>
				</dict>
				<key>0x6D</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT-BCM2</string>
				</dict>
				<key>0x71</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>PAT</string>
				</dict>
				<key>0x72</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>PAT2B</string>
				</dict>
				<key>0x74</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT4</string>
				</dict>
				<key>0x77</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT1-PREBURN</string>
				</dict>
				<key>0x78</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>TILT1</string>
				</dict>
				<key>0x79</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>RAT</string>
				</dict>
				<key>0x7A</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SA-ALERT</string>
				</dict>
				<key>0x7B</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>CG-INSTALL</string>
				</dict>
				<key>0x82</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT2-PREBURN</string>
				</dict>
				<key>0x83</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>DEVELOPMENT10</string>
				</dict>
				<key>0x8D</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>GRAPE-CAL-POST</string>
				</dict>
				<key>0x8E</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>GRAPE-TEST-POST</string>
				</dict>
				<key>0x90</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>O-TEST</string>
				</dict>
				<key>0x97</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>IMU</string>
				</dict>
				<key>0x98</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>ALSAR</string>
				</dict>
				<key>0x99</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>ALS-CAL</string>
				</dict>
				<key>0x9A</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>ALS-TEST</string>
				</dict>
				<key>0xA3</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>FACT</string>
				</dict>
				<key>0xA5</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>TAP</string>
				</dict>
				<key>0xA7</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>TRAP</string>
				</dict>
				<key>0xB0</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>DISPLAY-POSTBURN</string>
				</dict>
				<key>0xB3</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>BONFIRE</string>
				</dict>
				<key>0xB4</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>WILDFIRE</string>
				</dict>
				<key>0xB5</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>BURNIN</string>
				</dict>
				<key>0xB6</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>MMI</string>
				</dict>
				<key>0xB7</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>LOG-COLLECTION</string>
				</dict>
				<key>0xB8</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>BURNIN-RESCREEN</string>
				</dict>
				<key>0xB9</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>MMI-RESCREEN</string>
				</dict>
				<key>0xC1</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>WIFI-BT-OTA</string>
				</dict>
				<key>0xC6</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>S-OTA</string>
				</dict>
				<key>0xD0</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>MPN-BURN</string>
				</dict>
			</dict>
			<key>SFCKeys</key>
			<array>
				<string>sbuild</string>
				<string>qt_fg_sn</string>
				<string>displaycg</string>
				<string>product</string>
				<string>region_code</string>
				<string>mpn</string>
				<string>battery</string>
				<string>mlbsn</string>
				<string>battcell</string>
				<string>housconfigdmin</string>
				<string>Housdmin</string>
				<string>displaydmin</string>
				<string>Backcrystaldmin</string>
				<string>bcmlensdmin</string>
				<string>Tigerdmin</string>
				<string>sensorflexdmin</string>
				<string>hwconfig</string>
				<string>config_seq</string>
				<string>lisadmin</string>
				<string>housmaterialdmin</string>
				<string>houscolordmin</string>
				<string>displaycolordmin</string>
				<string>displaymaterialdmin</string>
				<string>backcrystalcolordmin</string>
				<string>backcrystalmaterialdmin</string>
				<string>alertdmin</string>
				<string>flex_fargo</string>
				<string>regulatory_num</string>
				<string>custom_laser_image</string>
				<string>moped</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>N27</key>
		<dict>
			<key>Attributes</key>
			<array>
				<string>ALTOMOBILE_VER</string>
				<string>serialnumber</string>
				<string>BX_1INIT_FW_VERSION</string>
				<string>BX_2PRE_FW_VERSION</string>
				<string>BX_3POST_FW_VERSION</string>
				<string>ALTV</string>
				<string>BACK CRYSTAL</string>
				<string>BATTERY_SN</string>
				<string>BGMt</string>
				<string>BOARD_ID</string>
				<string>QT4_PUCK</string>
				<string>BOARD_REV</string>
				<string>BT_MAC_ADDR</string>
				<string>BURNIN_RACK_LOCATION</string>
				<string>CFG#</string>
				<string>CGMt</string>
				<string>CG_TYPE</string>
				<string>CHARGER</string>
				<string>CHIPID</string>
				<string>CHIPVER</string>
				<string>CITRINE_CHIP_ID</string>
				<string>CITRINE_REV_ID</string>
				<string>CLBG</string>
				<string>CLCG</string>
				<string>CLHS</string>
				<string>COLLAR</string>
				<string>CLHS</string>
				<string>COLLAR</string>
				<string>DIAGS_BUILD_TIMESTAMP</string>
				<string>DIAGS_VERSION</string>
				<string>DISPLAY</string>
				<string>DISPLAY FLEX</string>
				<string>ECID</string>
				<string>EOUSB_MAC_ADDR</string>
				<string>EnMt</string>
				<string>FARGO</string>
				<string>GAIA_FWK_VER</string>
				<string>GRAPE</string>
				<string>GRPTEST_NONUI_FWK_VER</string>
				<string>INIT_GG_CHEM_ID</string>
				<string>INIT_GG_MODEL</string>
				<string>INIT_GG_TYPE</string>
				<string>LCM_DRIVER_ID</string>
				<string>LCM_PANEL_ID</string>
				<string>LCM_SN</string>
				<string>LCM_VENDOR_NAME</string>
				<string>LsBT</string>
				<string>MDLC</string>
				<string>MLBSN</string>
				<string>MOPED</string>
				<string>MPN</string>
				<string>MTFWVER</string>
				<string>NONUI_BDL_VER</string>
				<string>OS_BUILD_VERSION_FATP</string>
				<string>OS_BUILD_VERSION_SS</string>
				<string>PMU_ID0_MASKREV</string>
				<string>PMU_ID1_TRIMREV</string>
				<string>PMU_ID2_PLATFORMID</string>
				<string>PRODUCTION_SOC</string>
				<string>REGION_CODE</string>
				<string>REGULATORY_NUM</string>
				<string>RX COIL ASSY</string>
				<string>SEID</string>
				<string>SENSOR FLEX</string>
				<string>SENSOR_PART_ACCEL</string>
				<string>SENSOR_PART_GYRO</string>
				<string>SILICON_ID</string>
				<string>SOC_PROP_FUSE_REV</string>
				<string>SOC_PROP_PRODUCTION_NAME</string>
				<string>SOC_PROP_REVISION</string>
				<string>SWBH</string>
				<string>SYSTEMCONFIGURATION</string>
				<string>UDID</string>
				<string>UNIT_SN</string>
				<string>WIFI FEED FLEX</string>
				<string>WIFI_MAC_ADDR</string>
				<string>WirelessChargerMCUFirwareVersion</string>
				<string>WirelessChargerMCUSerialNumber</string>
				<string>packout_control</string>
				<string>DMIN</string>
				<string>DMNO</string>
				<string>SeajayMCUFirmwareVersion</string>
				<string>SeajayMCUSerialNumber</string>
			</array>
			<key>BoardID</key>
			<dict>
				<key>3g</key>
				<dict>
					<key>0x02</key>
					<string>N27</string>
				</dict>
				<key>wifi</key>
				<dict>
					<key>0x00</key>
					<string>N27</string>
				</dict>
			</dict>
			<key>ControlBits</key>
			<dict>
				<key>0x00</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>DFU-NAND-INIT</string>
				</dict>
				<key>0x01</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>FCT</string>
				</dict>
				<key>0x02</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SOC-TEST</string>
				</dict>
				<key>0x0B</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>GATEKEEPER-PREBURN</string>
				</dict>
				<key>0x12</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SMT-BONFIRE</string>
				</dict>
				<key>0x13</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SMT-BURNIN</string>
				</dict>
				<key>0x14</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SMT-LOG-COLLECTION</string>
				</dict>
				<key>0x15</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>WIFI-BT-COND</string>
				</dict>
				<key>0x1A</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>WIFI-COND</string>
				</dict>
				<key>0x1B</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>PREFCT</string>
				</dict>
				<key>0x1C</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>PREFCT2</string>
				</dict>
				<key>0x20</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>S-COND</string>
				</dict>
				<key>0x2D</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>COMBINE-FCT</string>
				</dict>
				<key>0x2E</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SMT-QT0</string>
				</dict>
				<key>0x68</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SA-QT0</string>
				</dict>
				<key>0x69</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT0</string>
				</dict>
				<key>0x6A</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SA-FACT</string>
				</dict>
				<key>0x6B</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT-COIL</string>
				</dict>
				<key>0x6C</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT-BCM</string>
				</dict>
				<key>0x6D</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT-BCM2</string>
				</dict>
				<key>0x71</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>PAT</string>
				</dict>
				<key>0x72</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>PAT2B</string>
				</dict>
				<key>0x74</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT4</string>
				</dict>
				<key>0x77</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT1-PREBURN</string>
				</dict>
				<key>0x78</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>TILT1</string>
				</dict>
				<key>0x79</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>RAT</string>
				</dict>
				<key>0x7A</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SA-ALERT</string>
				</dict>
				<key>0x7B</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>CG-INSTALL</string>
				</dict>
				<key>0x82</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT2-PREBURN</string>
				</dict>
				<key>0x83</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>DEVELOPMENT10</string>
				</dict>
				<key>0x8D</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>GRAPE-CAL-POST</string>
				</dict>
				<key>0x8E</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>GRAPE-TEST-POST</string>
				</dict>
				<key>0x90</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>O-TEST</string>
				</dict>
				<key>0x97</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>IMU</string>
				</dict>
				<key>0x98</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>ALSAR</string>
				</dict>
				<key>0x99</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>ALS-CAL</string>
				</dict>
				<key>0x9A</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>ALS-TEST</string>
				</dict>
				<key>0xA3</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>FACT</string>
				</dict>
				<key>0xA5</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>TAP</string>
				</dict>
				<key>0xA7</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>TRAP</string>
				</dict>
				<key>0xB0</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>DISPLAY-POSTBURN</string>
				</dict>
				<key>0xB3</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>BONFIRE</string>
				</dict>
				<key>0xB4</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>WILDFIRE</string>
				</dict>
				<key>0xB5</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>BURNIN</string>
				</dict>
				<key>0xB6</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>MMI</string>
				</dict>
				<key>0xB7</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>LOG-COLLECTION</string>
				</dict>
				<key>0xB8</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>BURNIN-RESCREEN</string>
				</dict>
				<key>0xB9</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>MMI-RESCREEN</string>
				</dict>
				<key>0xC1</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>WIFI-BT-OTA</string>
				</dict>
				<key>0xC6</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>S-OTA</string>
				</dict>
				<key>0xD0</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>MPN-BURN</string>
				</dict>
			</dict>
			<key>SFCKeys</key>
			<array>
				<string>lisaknurldmin</string>
				<string>lisasensoricdmin</string>
				<string>lisaoatypedmin</string>
				<string>bcmptsensortypedmin</string>
				<string>fcminkcolordmin</string>
				<string>fcmarcoateddmin</string>
				<string>versiondmin</string>
				<string>sbuild</string>
				<string>bcmcrystalcfg</string>
				<string>bcmledtypedmin</string>
				<string>qt_fg_sn</string>
				<string>displaycg</string>
				<string>product</string>
				<string>region_code</string>
				<string>mpn</string>
				<string>battery</string>
				<string>mlbsn</string>
				<string>battcell</string>
				<string>housconfigdmin</string>
				<string>Housdmin</string>
				<string>displaydmin</string>
				<string>Backcrystaldmin</string>
				<string>bcmlensdmin</string>
				<string>Tigerdmin</string>
				<string>sensorflexdmin</string>
				<string>hwconfig</string>
				<string>config_seq</string>
				<string>lisadmin</string>
				<string>housmaterialdmin</string>
				<string>houscolordmin</string>
				<string>displaycolordmin</string>
				<string>displaymaterialdmin</string>
				<string>backcrystalcolordmin</string>
				<string>backcrystalmaterialdmin</string>
				<string>alertdmin</string>
				<string>flex_fargo</string>
				<string>regulatory_num</string>
				<string>custom_laser_image</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>N111</key>
		<dict>
			<key>Attributes</key>
			<array>
				<string>ALTOMOBILE_VER</string>
				<string>serialnumber</string>
				<string>BX_1INIT_FW_VERSION</string>
				<string>BX_2PRE_FW_VERSION</string>
				<string>BX_3POST_FW_VERSION</string>
				<string>ALTV</string>
				<string>BACK CRYSTAL</string>
				<string>BATTERY_SN</string>
				<string>BGMt</string>
				<string>BOARD_ID</string>
				<string>QT4_PUCK</string>
				<string>BOARD_REV</string>
				<string>BT_MAC_ADDR</string>
				<string>BURNIN_RACK_LOCATION</string>
				<string>CFG#</string>
				<string>CGMt</string>
				<string>CG_TYPE</string>
				<string>CHARGER</string>
				<string>CHIPID</string>
				<string>CHIPVER</string>
				<string>CITRINE_CHIP_ID</string>
				<string>CITRINE_REV_ID</string>
				<string>CLBG</string>
				<string>CLCG</string>
				<string>CLHS</string>
				<string>COLLAR</string>
				<string>CLHS</string>
				<string>COLLAR</string>
				<string>DIAGS_BUILD_TIMESTAMP</string>
				<string>DIAGS_VERSION</string>
				<string>DISPLAY</string>
				<string>DISPLAY FLEX</string>
				<string>ECID</string>
				<string>EOUSB_MAC_ADDR</string>
				<string>EnMt</string>
				<string>FARGO</string>
				<string>GAIA_FWK_VER</string>
				<string>GRAPE</string>
				<string>GRPTEST_NONUI_FWK_VER</string>
				<string>INIT_GG_CHEM_ID</string>
				<string>INIT_GG_MODEL</string>
				<string>INIT_GG_TYPE</string>
				<string>LCM_DRIVER_ID</string>
				<string>LCM_PANEL_ID</string>
				<string>LCM_SN</string>
				<string>LCM_VENDOR_NAME</string>
				<string>LsBT</string>
				<string>MDLC</string>
				<string>MLBSN</string>
				<string>MOPED</string>
				<string>MPN</string>
				<string>MTFWVER</string>
				<string>NONUI_BDL_VER</string>
				<string>OS_BUILD_VERSION_FATP</string>
				<string>OS_BUILD_VERSION_SS</string>
				<string>PMU_ID0_MASKREV</string>
				<string>PMU_ID1_TRIMREV</string>
				<string>PMU_ID2_PLATFORMID</string>
				<string>PRODUCTION_SOC</string>
				<string>REGION_CODE</string>
				<string>REGULATORY_NUM</string>
				<string>RX COIL ASSY</string>
				<string>SEID</string>
				<string>SENSOR FLEX</string>
				<string>SENSOR_PART_ACCEL</string>
				<string>SENSOR_PART_GYRO</string>
				<string>SILICON_ID</string>
				<string>SOC_PROP_FUSE_REV</string>
				<string>SOC_PROP_PRODUCTION_NAME</string>
				<string>SOC_PROP_REVISION</string>
				<string>SWBH</string>
				<string>SYSTEMCONFIGURATION</string>
				<string>UDID</string>
				<string>UNIT_SN</string>
				<string>WIFI FEED FLEX</string>
				<string>WIFI_MAC_ADDR</string>
				<string>WirelessChargerMCUFirwareVersion</string>
				<string>WirelessChargerMCUSerialNumber</string>
				<string>packout_control</string>
				<string>DMIN</string>
				<string>DMNO</string>
				<string>SeajayMCUFirmwareVersion</string>
				<string>SeajayMCUSerialNumber</string>
				<string>ALS_SN</string>
				<string>BLOCK_DEVICE</string>
				<string>MLB_CFG_INITIAL</string>
				<string>Graphite_MANU_ID</string>
				<string>Graphite_CHIP_ID</string>
				<string>Graphite_REV_ID</string>
				<string>Graphite_MEMS_ID</string>
				<string>Graphite_ASIC_ID</string>
				<string>Graphite_DATATYPE</string>
				<string>FR_Potassium_revid</string>
				<string>ASHFORD_ATE_REV</string>
				<string>ASHFORD_CHIP_ID</string>
				<string>INIT_GG_TYPE</string>
				<string>INIT_GG_MODEL</string>
				<string>INIT_GG_CHEM_ID</string>
				<string>QT2_STOCKHOLM_FW_VER</string>
				<string>TILT1_STOCKHOLM_FW_VER</string>
				<string>Get Battery SN from SF</string>
				<string>QT1_PUCK</string>
				<string>MAGNETITE_1INIT_FW_VERSION</string>
				<string>MAGNETITE_2PRE_FW_VERSION</string>
				<string>MAGNETITE_3POST_FW_VERSION</string>
				<string>MPN_SWBH</string>
				<string>PLUG_COUNT</string>
				<string>PRODUCTION_SOC</string>
				<string>Plug SN_Carrier inspection</string>
			</array>
			<key>BoardID</key>
			<dict>
				<key>3g</key>
				<dict>
					<key>0x0C</key>
					<string>N111</string>
				</dict>
				<key>wifi</key>
				<dict>
					<key>0x0E</key>
					<string>N111</string>
				</dict>
			</dict>
			<key>ControlBits</key>
			<dict>
				<key>0x00</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>DFU-NAND-INIT</string>
				</dict>
				<key>0x01</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>FCT</string>
				</dict>
				<key>0x02</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SOC-TEST</string>
				</dict>
				<key>0x04</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>CELL-CAL</string>
				</dict>
				<key>0x05</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>CELL-TEST</string>
				</dict>
				<key>0x0B</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>GATEKEEPER-PREBURN</string>
				</dict>
				<key>0x12</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SMT-BONFIRE</string>
				</dict>
				<key>0x13</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SMT-BURNIN</string>
				</dict>
				<key>0x14</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SMT-LOG-COLLECTION</string>
				</dict>
				<key>0x15</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>WIFI-BT-COND</string>
				</dict>
				<key>0x1A</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>WIFI-COND</string>
				</dict>
				<key>0x1B</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>PREFCT</string>
				</dict>
				<key>0x1C</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>PREFCT2</string>
				</dict>
				<key>0x20</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>S-COND</string>
				</dict>
				<key>0x24</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>WIFI-BT-COND-2</string>
				</dict>
				<key>0x2D</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>COMBINE-FCT</string>
				</dict>
				<key>0x2E</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SMT-QT0</string>
				</dict>
				<key>0x68</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SA-QT0</string>
				</dict>
				<key>0x69</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT0</string>
				</dict>
				<key>0x6A</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SA-FACT</string>
				</dict>
				<key>0x6B</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT-COIL</string>
				</dict>
				<key>0x6C</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT-BCM</string>
				</dict>
				<key>0x6D</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT-BCM2</string>
				</dict>
				<key>0x71</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>PAT</string>
				</dict>
				<key>0x72</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>PAT2B</string>
				</dict>
				<key>0x74</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT5</string>
				</dict>
				<key>0x77</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT1-PREBURN</string>
				</dict>
				<key>0x78</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>TILT1</string>
				</dict>
				<key>0x79</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>RAT</string>
				</dict>
				<key>0x7A</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>SA-ALERT</string>
				</dict>
				<key>0x7B</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>CG-INSTALL</string>
				</dict>
				<key>0x82</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT2-PREBURN</string>
				</dict>
				<key>0x83</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>DEVELOPMENT10</string>
				</dict>
				<key>0x87</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT5</string>
				</dict>
				<key>0x8D</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>GRAPE-CAL-POST</string>
				</dict>
				<key>0x8E</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>GRAPE-TEST-POST</string>
				</dict>
				<key>0x90</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>O-TEST</string>
				</dict>
				<key>0x96</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>P-TEST</string>
				</dict>
				<key>0x97</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>IMU</string>
				</dict>
				<key>0x98</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>ALSAR</string>
				</dict>
				<key>0x99</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>ALS-CAL</string>
				</dict>
				<key>0x9A</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>ALS-TEST</string>
				</dict>
				<key>0xA3</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>FACT</string>
				</dict>
				<key>0xA5</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>TAP</string>
				</dict>
				<key>0xA7</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>TRAP</string>
				</dict>
				<key>0xB0</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>DISPLAY-POSTBURN</string>
				</dict>
				<key>0xB3</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>BONFIRE</string>
				</dict>
				<key>0xB4</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>WILDFIRE</string>
				</dict>
				<key>0xB5</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>BURNIN</string>
				</dict>
				<key>0xB6</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>MMI</string>
				</dict>
				<key>0xB7</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>LOG-COLLECTION</string>
				</dict>
				<key>0xB8</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>BURNIN-RESCREEN</string>
				</dict>
				<key>0xB9</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>MMI-RESCREEN</string>
				</dict>
				<key>0xBE</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>REDSIG-CELL-OTA</string>
				</dict>
				<key>0xC1</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>WIFI-BT-OTA</string>
				</dict>
				<key>0xC5</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>S-OTA2</string>
				</dict>
				<key>0xC6</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>S-OTA</string>
				</dict>
				<key>0xD0</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>MPN-BURN</string>
				</dict>
				<key>0xD8</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>BACK-SENSOR-CAL</string>
				</dict>
				<key>0xDA</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>BUTTON-CAL</string>
				</dict>
				<key>0xDC</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>LEDA</string>
				</dict>
			</dict>
			<key>SFCKeys</key>
			<array>
				<string>lisaknurldmin</string>
				<string>lisasensoricdmin</string>
				<string>lisaoatypedmin</string>
				<string>bcmptsensortypedmin</string>
				<string>fcminkcolordmin</string>
				<string>fcmarcoateddmin</string>
				<string>versiondmin</string>
				<string>sbuild</string>
				<string>bcmcrystalcfg</string>
				<string>bcmledtypedmin</string>
				<string>qt_fg_sn</string>
				<string>displaycg</string>
				<string>product</string>
				<string>region_code</string>
				<string>mpn</string>
				<string>battery</string>
				<string>mlbsn</string>
				<string>battcell</string>
				<string>housconfigdmin</string>
				<string>Housdmin</string>
				<string>displaydmin</string>
				<string>Backcrystaldmin</string>
				<string>bcmlensdmin</string>
				<string>Tigerdmin</string>
				<string>sensorflexdmin</string>
				<string>hwconfig</string>
				<string>config_seq</string>
				<string>lisadmin</string>
				<string>housmaterialdmin</string>
				<string>houscolordmin</string>
				<string>displaycolordmin</string>
				<string>displaymaterialdmin</string>
				<string>backcrystalcolordmin</string>
				<string>backcrystalmaterialdmin</string>
				<string>alertdmin</string>
				<string>flex_fargo</string>
				<string>regulatory_num</string>
				<string>custom_laser_image</string>
				<string>sn</string>
				<string>sensorflex</string>
				<string>carrier_time</string>
				<string>plug_time</string>
				<string>carrier_sn</string>
				<string>plug_sn</string>
				<string>mkbs</string>
				<string>mkbh</string>
				<string>result</string>
				<string>time</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>N131</key>
		<dict>
			<key>Attributes</key>
			<array>
				<string>ARDMORE_CHIP_ID_HI</string>
				<string>ARDMORE_CHIP_ID_LO</string>
				<string>BATTERY_SN</string>
				<string>BGMt</string>
				<string>BOARD_ID</string>
				<string>BOARD_REV</string>
				<string>BUILD_EVENT</string>
				<string>BUILD_MATRIX_CONFIG</string>
				<string>CARNELIAN_CHIP_ID</string>
				<string>CARNELIAN_REV_ID</string>
				<string>CHIPID</string>
				<string>CHIPVER</string>
				<string>CGMt</string>
				<string>CLBG</string>
				<string>CLHS</string>
				<string>DIAGS_BUILD_TIMESTAMP</string>
				<string>DIAGS_VERSION</string>
				<string>EnMt</string>
				<string>Get Battery SN from SF</string>
				<string>GPS_FIRMWARE_VERSION</string>
				<string>IMU_ASIC_ID</string>
				<string>IMU_CHIP_ID</string>
				<string>IMU_MANU_ID</string>
				<string>IMU_MEMS_ID</string>
				<string>IMU_REV_ID</string>
				<string>INIT_GG_CHEM_ID_SM</string>
				<string>INIT_GG_MODEL</string>
				<string>INIT_GG_TYPE</string>
				<string>LCM_FULL_SN</string>
				<string>LCM_SN</string>
				<string>LsBT</string>
				<string>MAGNETITE_1INIT_FW_VERSION</string>
				<string>MAGNETITE_2PRE_FW_VERSION</string>
				<string>MAGNETITE_3POST_FW_VERSION</string>
				<string>MLBSN</string>
				<string>MPN</string>
				<string>MTSN</string>
				<string>MOPED</string>
				<string>ORB_CONFIG</string>
				<string>PMU_ID0_MASKREV</string>
				<string>PMU_ID1_TRIMREV</string>
				<string>PMU_ID2_PLATFORMID</string>
				<string>PRODUCTION_SE</string>
				<string>PUCK_EEEE</string>
				<string>QT1_PUCK</string>
				<string>REGION_CODE</string>
				<string>S_BUILD</string>
				<string>SFCBATTERY_SN</string>
				<string>SENSOR_PART_ACCEL</string>
				<string>SENSOR_PART_GYRO</string>
				<string>SOC_PROP_FUSE_REV</string>
				<string>SOC_PROP_PRODUCTION_MODE</string>
				<string>SOC_PROP_REVISION</string>
				<string>UNIT_SN</string>
				<string>serialnumber</string>
			</array>
			<key>BoardID</key>
			<dict>
				<key>SM</key>
				<dict>
					<key>0x08</key>
					<string>N131S</string>
					<key>0x0C</key>
					<string>N141S</string>
				</dict>
				<key>LG</key>
				<dict>
					<key>0x0A</key>
					<string>N131B</string>
					<key>0x0E</key>
					<string>N141B</string>
				</dict>
			</dict>
			<key>ControlBits</key>
			<dict>
				<key>0x69</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT0</string>
				</dict>
				<key>0x6C</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT-BCM</string>
				</dict>
				<key>0x77</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT1-PREBURN</string>
				</dict>
				<key>0x78</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>TILT1</string>
				</dict>
				<key>0x82</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT2-PREBURN</string>
				</dict>
				<key>0x87</key>
				<dict>
					<key>passwd</key>
					<string></string>
					<key>stationName</key>
					<string>QT5</string>
				</dict>
			</dict>
			<key>SFCKeys</key>
			<array>
				<string>lisaknurldmin</string>
				<string>sbuild</string>
				<string>displaymaterialdmin</string>
				<string>displaycolordmin</string>
				<string>displaycg</string>
			</array>
		</dict>
	</dict>
</array>
</plist>
